@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-merriweather: "Merriweather", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-merriweather); /* opsional override */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-merriweather), serif;
}

.font-merriweather {
  font-family: var(--font-merriweather), serif;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}


@keyframes gradientShimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-holo {
  background: linear-gradient(270deg, #E0FFFF, #FFCCE5, #E6E6FA);
  background-size: 600% 600%;
  animation: gradientShimmer 5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes bgGradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-bg {
  background: linear-gradient(-45deg, #1a1aff, #ff6efd, #00f6ff, #ffb6c1);
  background-size: 400% 400%;
  animation: bgGradientFlow 10s ease infinite;
}
